@{
	Layout = "";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>@ViewBag.Title</title>
	<style>
		#navigation a { color: #000; text-decoration: none; }
		#navigation a:hover { text-decoration: underline; }
		.navigation { width: 250px; position:absolute; top:0; left:0; padding:10px; font-size: large; background-color: #EEE; overflow: auto; float: left; }
		.content { vertical-align: top; margin-left: 270px; padding: 5px 10px 5px 10px; overflow: auto; }
		.title { font-size: x-large; font-weight: bold; }
		.MsoNormal { margin: 1px; font-size: 10pt; }
		.navigation li { cursor: pointer; }
		.navigation li:hover { text-decoration: underline; }
		.snippet { max-height: 100px; margin: 5px 0px 0px 0px; overflow: auto; border: 1px solid #888; border-radius: 4px; box-shadow: 2px 2px 5px #888; }
		.copy-snippet { color: #444; height: 30px; margin: 10px 0px 20px 0px; background-image: -webkit-linear-gradient(top, white 0%, #F3F3F3 100%); border-radius: 3px 3px 3px 3px; border-color: #CECECE; border-width: 1px; font-family: 'Helvetica Neue' , Arial, Helvetica, sans-serif; font-size: 14px;font-weight: bold; min-width: 100px; line-height: 18px; padding: 3px; }
		.copy-snippet:hover { color: white; background-image: -webkit-linear-gradient(top, #2478A8 0%, #1B5A7E 100%); border-color: #1F6993; }
		.content li { margin: 5px 0px 5px 0px; position: relative; }
		.code-inline {border:1px solid #d0d0d0; padding:1px 2px; background:#e0e0e0;}
		.code-block {margin:25px;}
		.code-quoted {color:maroon;}
		.code { font-family: Consolas, Courier New, Sans-Serif; font-weight: bold; }
		pre { margin: 0px; font-size: 10pt; tab-size: 2 }
		li a strong {color:Red;}
	</style>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="@Url.Content("~/scripts/jquery.zclip.js")" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function () {

			// Ensure the navigation and content areas are resized to the height of the window
			$("#navigation").css("height", $(window).height() - 20);
			$("#content").css("height", $(window).height() - 10);
			$("div.snippet").css("max-width", $(window).width() - 325);
			$(window).resize(function () {
				$("#navigation").css("height", $(window).height() - 20);
				$("#content").css("height", $(window).height() - 10);
				$("div.snippet").css("max-width", $(window).width() - 325);
			});

			// Support copying snippet content to the clipboard
			$("input.copy-snippet").zclip({
				path: '../../scripts/ZeroClipboard.swf',
				copy: function () { return $(this).parent().children(".snippet").text().trim(); }
			});

			// Bold the currently selected step
			$(".navigation a").each(function () {
				if (this.href == window.location.href) {
					$(this).css("font-weight", "bold");
				}
			});

		});
	</script>
</head>
<body style="font-family: Corbel; padding: 0px; margin: 0px;">
<base href="http://@(HttpContext.Current.Request.Url.Authority + Url.Content("~/content/docs/"))" />
<div id="navigation" class="navigation">
	<p class="title">&nbsp;<a href="@Url.Content("~/")">Todo App</a></p>
	<ol>
		<li><a href="@Url.Content("~/walkthrough/project-setup")">Project Setup</a></li>
		<li><a href="@Url.Content("~/walkthrough/create-model")">Create Model</a></li>
		<li><a href="@Url.Content("~/walkthrough/create-login-page")">Create Login Page</a></li>
		<li><a href="@Url.Content("~/walkthrough/prototype-main-page")">Prototype Main Page</a></li>
		<li><a href="@Url.Content("~/walkthrough/bind-to-model")">Bind to Model</a></li>
		<li><a href="@Url.Content("~/walkthrough/adding-items")">Adding Items</a></li>
		<li><a href="@Url.Content("~/walkthrough/enabling-autosave")">Enabling Autosave</a></li>
		<li><a href="@Url.Content("~/walkthrough/sorting-items")">Sorting Items</a></li>
		<li><a href="@Url.Content("~/walkthrough/deleting-items")">Deleting Items</a></li>
		<li><a href="@Url.Content("~/walkthrough/editing-items")">Editing Items</a></li>
		<li><a href="@Url.Content("~/walkthrough/adding-and-deleting-lists")">Adding & Deleting Lists</a></li>
		<li><a href="@Url.Content("~/walkthrough/data-annotations")">Data Annotations</a></li>
		<li><a href="@Url.Content("~/walkthrough/custom-validation")">Custom Validation</a></li>
		<li><a href="@Url.Content("~/walkthrough/calculated-properties")">Calculated Properties</a></li>
	</ol>
	<div style="position: absolute; bottom: 10px; left: 15px;">
		<a href="https://github.com/vc3"><img src="@Url.Content("~/content/docs/vc3os-sm.png")" /></a>
	</div>
</div>
<div id="content" class="content">
	@Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/content/docs/" + (ViewBag.step ?? "introduction") + ".htm")))
</div>
</body>
</html>
